.MapMarker {
    animation: App-logo-spin infinite 5s linear;
}
.MapMarker:hover{
    background-color: yellow;
}

.xd:hover {

    background-color: yellow;

}
.asd {
    display: none;
}

.fa.fa-map-marker{
    color:black;

}
.markers{
    position: absolute;
    bottom: -20px;
    right:-25px;
}

.tex:hover{
    display: inline;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
