.EventCategories .padded {
  padding-bottom: 10px;
}
.categoryClicked{
  color: darkgray;
}
.btn-new
{
  border-color: #E3B505;
  background-image: linear-gradient(to right, #E3B505, #E3B505);
  border-radius: 30px;
}
.btn-new:hover
{
  border-color: #E3B505;
  background-image: linear-gradient(to right, #E3B505, #E3B505);
  border-radius: 30px;
}


.btn-warning:hover, .btn-warning:focus

{
  box-shadow: 1px 1px 2px #fff;
  background-color: #E3B505;
}

h2 small
{
  color: #fff;
}

.EventCategories
{
  padding-top: 3%;
}