.EventCategories .padded {
  padding-bottom: 10px;
}
.categoryClicked{
  color: darkgray;
}
.btn-new
{
  border-color: #f46b45;
  background-image: linear-gradient(to right, #f46b45, #eea849);
  border-radius: 30px;
}
.btn-new:hover
{
  border-color: #f46b45;
  background-image: linear-gradient(to right, #eea849, #f46b45);
  border-radius: 30px;
}