.navbar-default
{
    background-color:  #fc4a1a;
    background-image: none;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.4);
    border-color: #fc4a1a;
    border-radius: 0px;
    font-size: 18px;
}

.navbar
{
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a
{
    color: white;
}

.navbar-default .navbar-nav>.active>a
{
    color: white;
    background-color:  #fc4a1a;
}


.navbar-default .navbar-nav > li > a:hover{
    border-bottom: 1px solid #333;
    transition: 0.5s ease-in;
}

.navbar-nav > li > a {
    padding-bottom: 0.2em;
}

.navbar-default .navbar-nav > .active > a {
    border-radius:0px;
    background-image: linear-gradient(to bottom, #fc4a1a 100%, #fc4a1a 100%);
    color: #333;
    box-shadow: none;
}