
h2 {
    color: #E3B505;
    font-weight: 800;
    padding-bottom: 0.5em;
}

p{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.mainresults {
    margin-top: 4%;
}

.btn-primary
{
    border-color: #E3B505;
    background-image: linear-gradient(to right, #E3B505, #E3B505);
    background-color: #E3B505;
    border-radius: 30px;
    margin: 0.4em;
}

.btn-primary:hover{
    border-color: #E3B505;
    background-color: #E3B505;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-danger:hover{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-success:hover{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-warning:hover{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-default
{
    border: none;
    color: white;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #000 100%, #000 100%);
    border-color: #000;
}

.btn-default:hover
{
    background-color: black;
    border: none;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #000 100%, #000 100%);
    border-color: #000;
    color:white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-default:hover, .btn-default:focus {
    background-color: none;
    background-position: 0 0px;
}

.btn-primary:active:focus
{
    border-color: #E3B505;
    background-color: #E3B505;
    box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.4);
}

.btn-primary:focus
{
    border-color: #E3B505;
    background-color: #E3B505;
    box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.4);
}

.thumbnail, .img-thumbnail

{
    margin: 1em;
    background: #fff;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #f0f2f0, #ffffff);
    box-shadow: 0 0.125rem 0.625rem rgba(105,123,140,.25);
    padding: 1em;
}

.thumbnail:hover
{
    box-shadow: 1px 1px 10px 2px rgba(227, 181, 5, 0.5);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: linear;

}


.thumbnail > img, .thumbnail a > img
{
    border-radius: 30px;
    padding: 0.5em;
}

.rc-slider-handle
{
    border: solid 2px #E3B505;
    -webkit-box-shadow: 0 0 5px #E3B505;
    box-shadow: 0 0 5px #E3B505;
}

.rc-slider-handle:active {
    border-color: #E3B505;
    -webkit-box-shadow: 0 0 5px #E3B505;
    box-shadow: 0 0 5px #E3B505;
}

.rc-slider-track
{
    background-color: #E3B505;
}