.mainresults {
    margin-top: 12%;
}

.btn-primary
{
    border-color: #f46b45;
    background-image: linear-gradient(to right, #f46b45, #eea849);
    border-radius: 30px;
}

.btn-default
{
    background-color: #4CAF50;
    border: none;
    color: white;
}

.thumbnail, .img-thumbnail

{
    background: #ECECEC;
    border: none;
    border-radius: 30px;
}

.thumbnail > img, .thumbnail a > img
{
    border-radius: 30px;
}