.TimeSlider {
    padding-top: 6%;
}
.fa,
.fa-calendar-o

{
    color: #fff;
}
.choose_date

{
    color:#fff;
    font-size: 12px;
    letter-spacing: 0.2em;
}

.choose_date_mm
{
    color:#fff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
