@import url('https://fonts.googleapis.com/css?family=Advent+Pro');

body {
  padding: 0;
  font-family: 'Advent Pro', sans-serif;
  background: linear-gradient(to bottom, #ece9e6, #ffffff);
  color: #ffffff;
}
